*.log
.DS_Store
.env
.env.*
!.env.example
!.env.testing.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.pint.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/coverage
/node_modules
/npm-debug.log*
/pnpm-debug.log*
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/yarn-debug.log*
/yarn-error.log*
/graphify-out
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
